body {
    background-image: url("http://i.ndtvimg.com/i/2015-04/fruits-veggies-full_600x350_71428309873.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

.main {
    margin-top: -10px;
    background-color: white;
}
/* Header section */
header {
    background-color: deeppink;
    height: 70px;
    width: 100%;
    margin: 0px;
    position: fixed;
    padding-top: -10px;
}

/* h1 tag in header */
header h1 {
    margin-top:20px;
    color: olive;
    font-size: 2em;
    padding-bottom: 10px;
}
/* un-ordered list in header element */
ul {
    list-style-type: none;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
}
/* list in nav tag */
nav ul li {
    display: inline;
    
    list-style-type: none;
    
}
/* anchor tag in list */
li a {
    color: white;
    text-decoration: none;
    padding-right: 10px;
    font-size: 17px;

}

a:hover {
    color: gray;
}

a {
    text-decoration: none;
}
/* style for hero section */
/* hero-Section */
.Hero
{
    padding-top: 80px;
    padding-left:0px;
    color:inherit;
    background-color: pink;
    -webkit-border-radius:5px;
    border-radius: 0px;
    margin-bottom: 10px;

}
.Hero img
{

    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 30px;

}
h3
{
    color:red;
    text-align: center;
    font-style: italic;
    font-weight: bold;

}


.fruit h2
{
    text-align: center;
    font-weight: bold;
    color: red;
    padding-top: 10px;
    font-style:italic;
    
}
h4
{
    text-align: justify;
    color: green;
    padding-bottom: 10px;
    font-style:italic;
}

.vegie h2
{
    text-align: center;
    font-weight: bold;
    color: red;
    padding-top: 10px;
    font-style: italic;
}

h4
{
    text-align: justify;
    color: green;
    padding-bottom: 10px;
    font-style: italic;
}
.pulses h2
{
    text-align: center;
    font-weight: bold;
    color: red;
    padding-top: 10px;
    font-style:italic;
}
h4
{
    text-align:justify;
    color: green;
    padding-bottom: 10px;
    font-style: italic;
}



/* h2 elements in #_column section */
 .figure h2 {
    margin-bottom: 10px;
    color: red;
    text-align: center;
    font-weight: bold;
    padding-top: 0px;
    font-style: italic;
    text-decoration: underline;
}



.subscribe h2
{
    text-decoration: none;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding-top: 10px;
    color: red;
    
}
.moreinfo1 h4
{
    padding-left: 10px;
    padding-right: 10px;
    color:green;
    font-style: italic;
    text-align: justify;
    margin-bottom:5px;
    
}
.moreinfo1  ul li
{
    list-style-type: disc;
    padding-left: 10px;
    padding-right: 10px;
    color:green;
    font-style: italic;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: bold;
    
}


/* footer section */
footer {
    margin-top: 10px;
    height: 60px;
    background-color: deeppink;
    margin-bottom: 5px;
}
/* styles for social buttons in footer section */
.social 
    {
    padding-left:30px;
    padding-bottom: 30px;
    color: white;
     }
.social h6
    {
        padding-top: 10px;
        margin-bottom: 0px;
    }

.social a
        {
    color:white;

        }
/* copy rights grid in footer section */
.copyright h6
    {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    color: white;
    }
/* terms and condition in footer section */

.conditions  
    {
   
   padding-top: 20px;
   padding-left: 30px;
    font-size: 17px;
    text-decoration: none;
    color: white;
    }
.conditions h6
    {
    color: white; 
    font-size: 15px;
    margin: 0px;
    }
.conditions a
{
    color: white;
    padding-left: 50px;
}




